.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &_active {
    opacity: 1;
    pointer-events: all;
  }

  &__card {
    width: 50%;
    max-height: 80%;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
  }

  &__header {
    display: flex;
  }

  &__image {
    min-width: 240px;
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    margin-left: 30px;
    h1 {
      margin-bottom: 10px;
    }
  }

  &__discription {
    margin-top: 30px;

    p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.7;
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    span {
      cursor: pointer;
      font-weight: bold;
    }
  }
}

@import 'Modal-media';
