@import 'config';
@import 'buttons';

.container {
  max-width: $website-width;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  margin: 0 auto;
}

.index-page {
  &__select-bar {
    margin-top: 50px;
  }

  &__main {
    margin-top: 50px;
  }
}

@import 'App-media';
