@import '../config';

.select-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  &__categories {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        background-color: #f9f9f9;
        padding: 13px 30px;
        border-radius: 30px;
        margin: 10px 10px 10px 0;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }
      }
    }

    &_active {
      background-color: #282828 !important;
      color: #fff;
    }
  }

  &__sort {
    position: relative;
  }

  .sort {
    &__label {
      display: flex;
      align-items: center;

      b {
        margin-right: 8px;
      }

      span {
        color: $red-color;
        border-bottom: 1px dashed $red-color;
        cursor: pointer;
      }
    }

    &__caret-up {
      margin-right: 5px;

      &_rotated {
        transform: rotate(180deg);
      }
    }

    &__popup {
      position: absolute;
      right: 0;
      margin-top: 15px;
      background: #ffffff;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
      border-radius: 10px;
      overflow: hidden;
      padding: 10px 0;
      width: 160px;

      ul {
        overflow: hidden;
        li {
          padding: 12px 20px;
          cursor: pointer;

          &:hover {
            background: rgba(254, 95, 30, 0.05);
          }
        }
      }

      &_active {
        font-weight: bold;
        color: $red-color;
        background: rgba(254, 95, 30, 0.05);
      }
    }
  }
}

.main {
  &__content {
    margin-top: 50px;
    display: grid;
    grid-gap: 40px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 270px);
  }
}

@import 'HomePage-media';
