@media (max-width: 800px) {
  .cart {
    .item {
      &__content {
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: 600px) {
  .cart__page {
    margin: 60px auto;
  }

  .cart {
    &__title {
      font-size: 14px;
    }

    &__icon {
      width: 25px;
      height: 25px;
    }

    &__clear {
      &-icon {
        width: 25px;
        height: 25px;
      }
      span {
        font-size: 16px;
      }
    }

    .item {
      &__img {
        min-width: 100px;
        min-height: 100px;
      }

      &__info {
        width: 100%;

        h3 {
          font-size: 18px;
        }
      }

      &__wrapper {
        width: 100%;
      }

      &__count {
        &-minus,
        &-plus {
          width: 8px;
          height: 8px;
        }
        b {
          font-size: 16px;
        }
      }

      &__price {
        b {
          font-size: 16px;
        }
      }
    }

    .bottom {
      &__details {
        span {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .cart {
    .bottom {
      &__details {
        flex-direction: column;

        span {
          &:last-of-type {
            margin-top: 10px;
          }
        }
      }

      &__buttons {
        flex-direction: column;
        align-items: center;

        .button-pay {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .cart {
    &__title {
      font-size: 12px;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }

    &__clear {
      &-icon {
        width: 20px;
        height: 20px;
      }
      span {
        font-size: 14px;
      }
    }

    .item {
      &__img {
        min-width: 70px;
        min-height: 70px;
      }

      &__info {
        h3 {
          font-size: 14px;
        }
      }

      &__count {
        b {
          min-width: 15px;
          font-size: 14px;
        }
      }

      &__price {
        min-width: 100px;
        b {
          font-size: 14px;
        }
      }
    }

    .bottom {
      &__details {
        span {
          font-size: 16px;
        }
      }
    }
  }
}
