@media (max-width: 600px) {
  .cart {
    &__empty {
      margin: 40px auto;
      max-width: 90vw;

      h2 {
        font-size: 26px;
      }

      p {
        font-size: 14px;
      }

      img {
        width: 250px;
        margin: 40px auto 40px;
      }
    }
  }
}
