.header {
  border-bottom: 1px solid gray;
  padding: 20px 0 40px 0;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__logo {
    display: block;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      letter-spacing: 5px;
      margin-left: 15px;
      font-size: 40px;
    }
  }

  &__discription {
    font-size: 20px;
  }
}

@import 'Header-media';
