@import 'config';

.button {
  display: inline-block;
  background-color: $red-color;
  border-radius: 5px;
  min-width: 130px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  border: 1px solid transparent;

  span {
    color: #fff;
  }

  i,
  span {
    transition: all 0.15s ease-in-out;
  }

  &-cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 12px;

    .cart-icon {
      margin-right: 8px;
      color: #fff;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:hover {
      background-color: darken($red-color, 8%);
    }
    &:active {
      background-color: darken($red-color, 12%);
      transform: translateY(1px);
    }
  }

  &-outline {
    background-color: #fff;
    border-color: $red-color;

    &,
    span {
      color: $red-color;
    }

    &:hover {
      &,
      span {
        color: #fff;
      }
    }
  }

  &-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
    border-radius: 20px;

    &:hover {
      background-color: $red-color;
    }
  }

  &-black {
    background-color: #000;

    &:hover,
    &:active {
      background-color: lighten($color: #000, $amount: 30);
    }
  }

  &-add {
    height: 40px;
    position: relative;

    span {
      font-weight: 600;
      font-size: 16px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      background: $red-color;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.3s ease-out;
    }

    &:hover {
      &:before {
        transform: scaleX(1);
      }

      span {
        position: relative;
        z-index: 1;
      }
      i {
        background-color: #fff;
        color: $red-color;
      }
    }

    i {
      position: relative;
      z-index: 1;
      display: inline-block;
      border-radius: 30px;
      background-color: $red-color;
      color: #fff;
      font-weight: 600;
      width: 22px;
      height: 22px;
      font-style: normal;
      font-size: 13px;
      line-height: 22px;
      margin-left: 5px;
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &-go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    padding: 10px 0;
    border-color: #000;

    &-icon {
      margin-right: 12px;
      color: #000;
    }

    span {
      color: #000;
      font-size: 16px;
      font-weight: 600;
    }

    &:hover {
      background-color: #000;

      .button-go-back-icon,
      span {
        color: #fff;
      }
    }
  }

  &-pay {
    font-size: 16px;
    font-weight: 600;
    width: 210px;

    &:hover {
      background-color: darken($red-color, 8%);
    }
  }
}
