// VARIABLES
$website-width: 1080px;
$main-color: #2d4059;
$red-color: #a82c2c;

// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    color: #000;
  }
}

body {
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(28, 42, 57, 1) 50%, rgba(99, 99, 99, 1) 100%);
  font-family: Montserrat;
  overflow-y: scroll;
}
