// VARIABLES
$website-width: 1080px;
$main-color: #2d4059;
$red-color: #a82c2c;
// $bg-image: url('./assets/images/background-dark.webp') top/100%;

// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited {
    color: #000;
  }
}

body {
  background-color: lightblue;
  font-family: Montserrat;
}
