@import 'config';

.container {
	max-width: $website-width;
	background-color: white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	padding: 30px 60px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	background-color: $red-color;
	border-radius: 30px;
	padding: 10px;
	min-width: 150px;
	text-align: center;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	border: 1px solid transparent;

	span {
		color: #fff;
	}

	i,
	span {
		transition: all 0.15s ease-in-out;
	}

	&:hover {
		background-color: darken($red-color, 8%);
	}
	&:active {
		background-color: darken($red-color, 12%);
		transform: translateY(1px);
	}

	&-cart {
		display: flex;
		align-items: center;
		padding: 12px 24px;

		img {
			margin-right: 8px;
			margin-bottom: 1px;
		}

		span {
			font-weight: 600;
			font-size: 16px;
		}
	}

	&-outline {
		background-color: #fff;
		border-color: $red-color;
		&,
		span {
			color: $red-color;
		}

		svg {
			path {
				fill: $red-color;
			}
		}

		&:hover {
			background-color: $red-color;

			svg {
				path {
					fill: #fff;
				}
			}

			&,
			span {
				color: #fff;
			}
		}
	}

	&-add {
		svg {
			margin-right: 5px;
		}

		span {
			font-weight: 600;
			font-size: 16px;
		}

		&:hover {
			i {
				background-color: #fff;
				color: $red-color;
			}
		}

		i {
			display: inline-block;
			border-radius: 30px;
			background-color: $red-color;
			color: #fff;
			font-weight: 600;
			width: 22px;
			height: 22px;
			font-style: normal;
			font-size: 13px;
			line-height: 22px;
			margin-left: 5px;
		}
	}

	&__delimiter {
		width: 1px;
		height: 25px;
		background-color: rgba(255, 255, 255, 0.25);
		margin-left: 14px;
		margin-right: 14px;
	}
}

.index-page {
	&__content {
		margin-top: 50px;
	}

	&__select-bar {
		margin-top: 50px;
	}

	&__main {
		margin-top: 50px;
	}
}

.header {
	border-bottom: 1px solid gray;
	padding: 40px 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		display: flex;
		align-items: center;
	}
	&__title {
		margin-left: 15px;
		h1 {
			letter-spacing: 5px;
		}
	}
}

.select-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;

	&__categories {
		ul {
			display: flex;
			flex-wrap: wrap;

			li {
				background-color: #f9f9f9;
				padding: 13px 30px;
				border-radius: 30px;
				margin: 10px 10px 10px 0;
				font-weight: bold;
				cursor: pointer;
				transition: background-color 0.1s ease-in-out;

				&:hover {
					background-color: darken(#f9f9f9, 2%);
				}
			}
		}

		&_active {
			background-color: #282828 !important;
			color: #fff;
		}
	}

	&__sort {
		position: relative;
	}

	.sort {
		min-width: 300px;

		&__label {
			display: flex;
			align-items: center;

			img {
				margin-right: 8px;
			}

			b {
				margin-right: 8px;
			}

			span {
				color: $red-color;
				border-bottom: 1px dashed $red-color;
				cursor: pointer;
			}
		}

		&__popup {
			position: absolute;
			right: 0;
			margin-top: 15px;
			background: #ffffff;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
			border-radius: 10px;
			overflow: hidden;
			padding: 10px 0;
			width: 160px;

			ul {
				overflow: hidden;
				li {
					padding: 12px 20px;
					cursor: pointer;

					&:hover {
						background: rgba(254, 95, 30, 0.05);
					}
				}
			}

			&_active {
				font-weight: bold;
				color: $red-color;
				background: rgba(254, 95, 30, 0.05);
			}
		}
	}
}

.main {
	&__content {
		margin-top: 50px;
		display: grid;
		grid-gap: 20px;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, 270px);
	}

	&__item-card {
		text-align: center;
		margin: 0 0 65px 0;
	}

	.item-card {
		&__title {
			font-size: 20px;
			letter-spacing: 1px;
			margin: 20px 0;
		}

		&__selector {
			background-color: #f3f3f3;
			border-radius: 10px;
			padding: 6px;

			ul {
				display: flex;
				flex: 1;

				li {
					padding: 8px;
					flex: 1;
					cursor: pointer;
					font-weight: 600;
					font-size: 14px;
				}
			}

			&_active {
				background: #ffffff;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
				border-radius: 5px;
				cursor: auto;
			}
		}

		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 20px;
		}

		&__price {
			font-weight: bold;
			font-size: 18px;
			letter-spacing: 0.5px;
		}
	}
}
